.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
}

.logo {
    font-size: 24px;
    /* 폰트 크기 조정 */
    font-weight: bold;
    /* 폰트 굵기 조정 */
    text-decoration: none;
    /* 밑줄 제거 */
    color: #333333;
    /* 텍스트 색상 설정 */
    transition: color 0.3s;
    /* 색상 변화에 대한 전환 효과 추가 */
    align-self: flex-start;
    /* 왼쪽 정렬 */
    margin-left: 10px;
}

.logo:hover {
    color: #ff6600;
    /* 호버 시 텍스트 색상 변경 */
}

header nav {
    display: flex;
    align-items: center;
    /* 링크를 세로 중앙 정렬 */
    margin-left: auto;
    /* 왼쪽 여백을 auto로 설정하여 오른쪽으로 정렬 */
    margin-right: 30px;
    /* 오른쪽 여백 추가 */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 15px;
    /* 각 링크 사이의 간격 조정 */
}

header nav ul li a {
    text-decoration: none;
    color: #333333;
}

header nav ul li a:hover {
    color: #ff6600;
    /* 호버 시 텍스트 색상 변경 */
}

header nav ul li:last-child {
    margin-right: 0;
    /* 마지막 링크의 오른쪽 간격 제거 */
}

main {
    margin-top: 20px;
    /* Header와 Nav의 높이에 맞춰 조정 */
    padding: 40px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    /* 헤더와 동일한 배경색 */
}

main nav {
    /* 투명도 조정된 배경색 */
    background-color: rgba(255, 255, 255, 0.8);

    /* 네비게이션 바 고정 너비 */
    width: 100px;
    position: fixed;

    /* 뷰포트 높이에서 Header 높이를 뺀 만큼 차지 */
    left: 0;
    top: 40px;
    height: calc(100% - 80px);

    padding: 40px;
    /* 테두리 그림자 추가 */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);

    z-index: 999;
    /* Header보다 뒤에 오도록 설정 */
    display: flex;
    flex-direction: column;
}

main nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main nav ul li {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
    /* 왼쪽 여백을 0으로 설정하여 왼쪽 정렬 */
}

main nav ul li:last-child {
    margin-bottom: 0;
}

main nav ul li a {
    text-decoration: none;
    color: #333333;
}

main nav ul li a:hover {
    color: #ff6600;
    /* 호버 시 텍스트 색상 변경 */
}



/* 푸터 스타일 */
footer {
    background-color: #2d3748;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* 로그인 컨테이너 스타일 */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1rem;
}

/* 로그인 폼 스타일 */
.login-form {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

/* 로그인 메시지 스타일 */
.login-message {
    margin-bottom: 2rem;
}

/* 로그인 제목 스타일 */
.login-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* 입력 필드 스타일 */
.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.input-field label {
    flex: 1;
    /* 라벨이 가능한 한 많은 공간을 차지하도록 설정 */
    margin-right: 1rem;
    /* 라벨과 입력 필드 사이의 간격 조절 */
}

.input-field input {
    flex: 2;
    /* 입력 필드가 라벨보다 더 많은 공간을 차지하도록 설정 */
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #cbd5e0;
    width: 100%;
}

/* 로그인 버튼 스타일 */
#login-button {
    background-color: #4a90e2;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#login-button:hover {
    background-color: #357dc8;
}

/* 회원가입 링크 스타일 */
.signup-link {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.signup-link:hover {
    color: #357dc8;
}