.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
}

.logo {
    font-size: 24px;
    /* 폰트 크기 조정 */
    font-weight: bold;
    /* 폰트 굵기 조정 */
    text-decoration: none;
    /* 밑줄 제거 */
    color: #333333;
    /* 텍스트 색상 설정 */
    transition: color 0.3s;
    /* 색상 변화에 대한 전환 효과 추가 */
    align-self: flex-start;
    /* 왼쪽 정렬 */
    margin-left: 10px;
}

.logo:hover {
    color: #ff6600;
    /* 호버 시 텍스트 색상 변경 */
}

header nav {
    display: flex;
    align-items: center;
    /* 링크를 세로 중앙 정렬 */
    margin-left: auto;
    /* 왼쪽 여백을 auto로 설정하여 오른쪽으로 정렬 */
    margin-right: 30px;
    /* 오른쪽 여백 추가 */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 15px;
    /* 각 링크 사이의 간격 조정 */
}

header nav ul li a {
    text-decoration: none;
    color: #333333;
}

header nav ul li a:hover {
    color: #ff6600;
    /* 호버 시 텍스트 색상 변경 */
}

header nav ul li:last-child {
    margin-right: 0;
    /* 마지막 링크의 오른쪽 간격 제거 */
}

main {
    margin-top: 20px;
    /* Header와 Nav의 높이에 맞춰 조정 */
    padding: 40px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    /* 헤더와 동일한 배경색 */
}

main nav {
    /* 투명도 조정된 배경색 */
    background-color: rgba(255, 255, 255, 0.8);

    /* 네비게이션 바 고정 너비 */
    width: 100px;
    position: fixed;

    /* 뷰포트 높이에서 Header 높이를 뺀 만큼 차지 */
    left: 0;
    top: 40px;
    height: calc(100% - 80px);

    padding: 40px;
    /* 테두리 그림자 추가 */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);

    z-index: 999;
    /* Header보다 뒤에 오도록 설정 */
    display: flex;
    flex-direction: column;
}

main nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main nav ul li {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 0px;
    /* 왼쪽 여백을 0으로 설정하여 왼쪽 정렬 */
}

main nav ul li:last-child {
    margin-bottom: 0;
}

main nav ul li a {
    text-decoration: none;
    color: #333333;
}

main nav ul li a:hover {
    color: #ff6600;
    /* 호버 시 텍스트 색상 변경 */
}